<section data-ng-controller="PartiesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Parties</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="party in parties" data-ng-href="#!/parties/{{party._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="party.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="party.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="party.title"></h4>
			<p class="list-group-item-text" data-ng-bind="party.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="parties.$resolved && !parties.length">
		No parties yet, why don't you <a href="/#!/parties/create">create one</a>?
	</div>
</section>
