<section data-ng-controller="PartiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="party.event_name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == party.user._id">
		<a class="btn btn-primary" href="/#!/parties/{{party._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Planned for
			<span data-ng-bind="party.event_date | date:'mediumDate'"></span>
			by
			<span data-ng-bind="party.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="party.description"></p>
</section>
